<!-- Header -->
<header class="main-header">
    <div class="container-header">
        <div class="row align-items-center">
            <div class="col-5 col-md-2">
                <a href="/index/" class="main-header_home-link">
                    <h1 class="main-title"> FashionLog</h1>
						<!--<img class="logo" src="/images/log.jpg">-->
                </a>
              
            </div>

            <div class="col-7 col-md-6">
                <form action="/index/search" method="GET" class="search-form">
                    <input type="text" name="search" placeholder="Buscar productos, marcas y m치s" class="search-form_input">
                    <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                </form>
            </div>

            <div class="col-12 col-md-4">
                <a class="main-header_credit-link">
                 <!--   <i class="fas fa-hand-holding-usd"></i>-->
                   
                </a>
            </div>
        </div>

        <button class="btn-toggle-navbar">
            <i class="fas fa-bars"></i>
        </button>

        <nav class="main-navbar">
            <ul class="left-navbar cargar">
                <li>  <div class="crea"> <a href="/index/add-product">Cargar productos</a> </div></li>
                <li><a href="/index"><h4 class="tlp">Todos los Productos</h4></a>
                    
                </li>
               
            </ul>
          
				
			
            <ul class="right-navbar right-logueado">
                
                <ul class="grid-user">
                <li class="nombre-usuario">
                <a href="/index/profile/<%= miUsuario.id %>"style="text-transform: capitalize;" ><img src="/images/users/<%= miUsuario.imagen %>" alt="foto de perfil" class="fotousuario" ></li>
                 <li class="nombre-usuario"> <h3 class= "nombre-user"><%=  miUsuario.nombre %></h3></li></a>
                </ul>
                <li>
                
                    <div class="crea">
                       <!--  <a href="/index" class="direc">
                        <form>
                        <input type="button" onclick="ConfirmCerrar()" value="Cerrar Sesi칩n" />
                        </form></a>-->
                       
                      <!--<a href="/index">Cerrar sesion </a> -->
                       <!-- <li><form action="/logout">
                        <input type="submit" value="Log Out">
                      </form></li> -->


                      <form action="/index/logout" method="post">
                        <button class="logout" type="submit">
                            Logout <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </form>
                   </div>
                </li>
                <!-- Solo deslogueado <li>
                    <a href="register.html">Cre치 tu cuenta <i class="far fa-address-card"></i>
                    </a>
                </li>
                <li>
                    <a href="login.html">Ingres치 <i class="fas fa-sign-in-alt"></i></a>
                </li> -->
            </ul>
        </nav>
    </div>
</header>
<!-- /Header -->