	<!-- Header -->
	<header class="main-header">
		<div class="container-header">
			<div class="row align-items-center">
				<div class="col-5 col-md-2">
					<a href="/index" class="main-header_home-link">
						<h1 class="main-title"> FashionLog</h1>
						<!--<img class="logo" src="/images/log.jpg">-->
					</a>
					
				<!--	<h1 class="titulo"> FASHION LOG</h1>-->
				</div>
	
				<div class="col-7 col-md-6">
					<form action="/index/search" method="GET" class="search-form">
						<input type="text" name="search" placeholder="Buscar productos, marcas y más" class="search-form_input">
						<button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
					</form>
				</div>

				
	<!--
				<ul class="col-12 col-md-4">
					<li class="reseñas"> <a  class="main-header_credit-link">Todas las reseñas en un solo lugar</a></li>
					<li> <a  class="main-header_credit-link"><i class="fas fa-hand-holding-usd"></i></a>/li>
				</ul>-->
			</div>
	
			<button class="btn-toggle-navbar">
				<i class="fas fa-bars"></i>
			</button>
	
			<nav class="main-navbar">
				<ul class="left-navbar">
					<li><a href="/index"><h4 class="tlp">Todos los Productos</h4></a>
						
					</li>
					<!-- solo logueado <li><a href="">Cargar productos</a></li> -->
				</ul>
	
				<ul class="right-navbar">

					<% if(! logueado) { %>
						<li> <div class="crea">
							<form action="/login">
							<input type="submit" value="Login">
						  </form>
						</div></li>
						  <li><form action="/register">
							<input type="submit" value="Register">
						  </form></li>

						  <% } else { %>

							<li><form action="/logout">
							  <input type="submit" value="Exit">
							</form></li>
						<!-- hay que hacer metodo post para logout??? -->
							<% } %>

					<!-- Solo logueado <li><a href="profile.html">
							Nombre del usuario <i class="fas fa-user"></i>
						</a>
					</li>
					<li>
						<form action="" method="post">
							<button class="logout" type="submit">
								Cerrar sesión <i class="fas fa-sign-in-alt"></i>
							</button>
						</form>
					</li> -->
					
					<!--<li>
						<div class="crea">
						<a href="/index/register" >Registrate <i class="far fa-address-card"></i>
						</a>
					</div>
					</li>
						
					<li>
						<div class="crea-ingreso">
						<a href="/index/login">Ingresá <i class="fas fa-sign-in-alt"></i>
						</a>
					</div>
					</li>-->
				</ul>
			</nav>
		</div>
	</header>
	<!-- /Header -->