<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />
	<link rel="stylesheet" href="https://fontawesome.com/icons/user-circle?style=solid" rel="stylesheet">
	
	<title> FashionLog </title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel='stylesheet' href='/stylesheets/grid.css'>
	<!-- Own Stylesheet -->
	<link rel='stylesheet' href='/stylesheets/index.css'>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville:wght@700&display=swap" >
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" >

	
	<!-- probando confirm de cerrar sesion
	<script type="text/javascript">
		function ConfirmCerrar() {
		
		var cerrarSesion = confirm("¿Desea cerrar sesión?");
		//Detectamos si el usuario acepto el mensaje
		if (cerrarSesion) {
		alert("¡Gracias. Lo esperamos Luego!");
		let salir = document.querySelector("#direc");
		salir.innerHTML = "http://localhost:3000/index";
		}
		//Detectamos si el usuario denegó el mensaje
		else {
		alert("Siga navegando en su perfil de FashionLog");
		let direc = document. querySelector (“#direc”);
		direc.innerHTML = "http://localhost:3000/index/profile";

		}
		}
		</script>-->
</head>