<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../views/partials/head') %>
<body class="add-product-background">
	<!-- Header -->
	<%- include('../views/partials/headerlog') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="container-add">
			<form class="container-form-edit" action="" method="POST">
				<h2 class="titulo">AGREGA UN PRODUCTO</h2>
				<p>
					
					<input type="text" name="nombre" id="nombre" class="nombre"placeholder="nombre del producto"> 
				</p>
				<p>
					
					<input type="text" name="descripcion" id="descripcion" class="descripcion" placeholder="Descripción"> 
				</p>
				<p>
					
					<input type="date" name="fechanac" id="fechanac" class="fecha" placeholder="Fecha de publicacion" > 
				</p>
				
				<p>
					
					<input type="text" name="image" id="image" class="image"  placeholder="foto del producto" required> 
				</p>
				
				
				<br/>
				<br/>
				<p><input class="submit" type="submit" value="Agregar producto a mi catalogo"></p>	
				
			</form>
		</div>

<!-- footer -->
<%- include('../views/partials/footer') %>
<!-- /footer -->

</body>

</html>