<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../views/partials/head') %>
<body class="edit-background">
	<!-- Header -->
	<%- include('../views/partials/headerlog') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="container-edit"></div>
			<form class="container-form-edit" action="" method="POST">
				<h2 class="titulo">EDITA TU PERFIL</h2>
				<p>
					
					<input type="text" name="nombre" id="nombre" class="nombre"placeholder="nombre"> 
				</p>
				<p>
					
					<input type="email" name="mail" id="mail" class="email"placeholder="EMAIL" > 
				</p>
				
				<p>
					
					<input type="password" name="contraseña" id="contraseña" class="pwd" pattern=".{6,}" placeholder="Contraseña actual" required> 
				</p>
				<p>
					
					<input type="password" name="contraseña" id="contraseña" class="pwd" pattern=".{6,}" placeholder="Contraseña NUEVA" required> 
				</p>
				
				<br/>
				<br/>
				<p><input class="submit" type="submit" value="REALIZAR CAMBIOS"></p>	
				
			</form>



	<!-- footer -->
	<%- include('../views/partials/footer') %>
	<!-- /footer -->
	
</body>

</html>