<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../views/partials/head') %>
<body>
	<!-- Header -->
<%- include('../views/partials/header') %>

	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		
			<img src="images/img-home-banner.jpg" alt="Banner de ofertas">
		
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="http://localhost:3000/index/product">
						<figure class="product-box_image">
							<img  src="images/producto1.jpeg" alt="">
						</figure>
						<article class="product-box_data">
							<h2> Campera Zara </h2>
							<p>Campera de Jean color Azul con tachas</p>
							<p>Usada</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="http://localhost:3000/index/product">
						<figure class="product-box_image">
							<img src="/images/producto2.jpeg" alt="">
						</figure>
						<article class="product-box_data">
							<h2>Campera Rapsodia</h2>
							<p>Campera de cuero negra con peludito adentro</p>
							<p>Usada</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="http://localhost:3000/index/product">
						<figure class="product-box_image">
							<img src="/images/producto3.jpeg" alt="">
						</figure>
						<article class="product-box_data">
							<h2>Pantalon Zara</h2>
							<p>Pantalon de cuero original con abertura al final</p>
							<p>Casi Nuevo</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="http://localhost:3000/index/product">
						<figure class="product-box_image">
							<img src="/images/producto4.jpeg" alt="">
						</figure>
						<article class="product-box_data">
							<h2>Campera Zara</h2>
							<p>Campera de Jean color negra con detalle de cadena</p>
							<p>Nueva con etiqueta</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="http://localhost:3000/index/product">
						<figure class="product-box_image">
							<img src="/images/producto5.jpeg" alt="">
						</figure>
						<article class="product-box_data">
							<h2>Remera Forever XXI</h2>
							<p>Remera negra trasnparente con detalles de piedras</p>
							<p>Nueva con etiqueta</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="http://localhost:3000/index/product">
						<figure class="product-box_image">
							<img src="/images/producto6.jpeg" alt="campera de jean">
						</figure>
						<article class="product-box_data">
							<h2>Jean Abercrombie</h2>
							<p>Jean azul recto con corte en rodilla</p>
							<p>Nuevo sin etiqueta</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="http://localhost:3000/index/product">
						<figure class="product-box_image">
							<img src="/images/producto7.jpeg" alt="">
						</figure>
						<article class="product-box_data">
							<h2>Joggin Uniqlo</h2>
							<p>Joggin verde militar basico</p>
							<p>Casi nuevo</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="http://localhost:3000/index/product">
						<figure class="product-box_image">
							<img src="/images/producto8.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Sweater Bershka</h2>
							<p>Sweater gris corto con peludito</p>
							<p>Usado</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Más comentados -->


	<!-- footer -->
<%- include('../views/partials/footer') %>
	<!-- /footer -->
</body>	
</html>