<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../views/partials/head') %>
<body class="login-background">
	<!-- Header -->
<%- include('../views/partials/header') %>

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			
			<!-- Show the "ultimos" products -->
			<div class="container-login">
			
			<form class="container-form-login" action="" method="post">
				<h2 class="titulo">login</h2>
			  <p>
				 
				 <input type="email" name="email" id="email" class="email" placeholder="email" required>
			  </p>
			  <p>
				 
				 <input type="password" class="pwd" name="contraseña" id=contraseña required placeholder="contraseña">

				</p>
				Recordame <input type="checkbox" name="remember" id="" class="email"><br>	
				<br/>
				<br/>
				<p><input class="submit" type="submit" value="Login"></p>	
			</form>
			<div class="container-login-extra">
				<ul class="login-grid">
					<li class="login-extra"> Sos nueva?</li>
				
					<li class="login-extra"><a href="http://localhost:3000/index/register"> Registrate aquí </a></li>
				</ul>
			</div>

		

		</div>
			
			



<!-- footer -->
<%- include('../views/partials/footer') %>
<!-- /footer -->
</body>

</html>