<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../views/partials/head') %>
<body>
	<!-- Header -->
<%- include('../views/partials/header') %>

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i>///////////////////////////////////////// <br> Acá va el formulario de registro. <br>
			Debe cumplir con los puntos de la consigna y ser coherente con la tabla de la base de datos <br>
			Eliminen estás líneas y coloquen el formulario. <br>
			Recuerden todo lo que necesita tanto la etiqueta form como los campos input para operar correctamtente</i> <br>
			////////////////
			</h2>

			<form class="registrarse" action="" method="POST">
				<p>
					<label for="nombre"> Nombre Completo: </label>
					<input type="text" name="nombre" id="nombre" placeholder="Ingrese aquí su nombre"> 
				</p>
				<p>
					<label for="mail"> Correo Electronico: </label>
					<input type="email" name="mail" id="mal" placeholder="Ingrese aquí su dirección de correo"> 
				</p>
				<p>
					<label for="fechanac"> Fecha de Naciimiento: </label>
					<input type="date" name="fechanac" id="fechanac" > 
				</p>
				<p>
					<label for="contraseña"> Contraseña: </label>
					<input type="password" name="contraseña" id="contraseña" pattern=".{6,}" placeholder="Minimo 6 caracteres"> 
				</p>
				<p>
                    <input type="checkbox" name="acepto"> He leído y acepto los términos y condiciones de uso 
                </p> 
				<p><input type="submit" value="Submit"></p>
				
			</form>


	<!-- footer -->
<%- include('../views/partials/footer') %>
<!-- /footer -->
</body>

</html>